.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      317deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(3, 3, 3, 0.6839110644257703) 30%
    ),
    url(../../img/pexels-alex-conchillos-3648850.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form {
  background-color: rgba(255, 255, 255, 0.4);
  &__info {
    display: none;
  }
  &__buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.popup {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
}

.popup.row {
  display: none;
}

.error {
  display: block;
}

.popup.row.active {
  display: block;
}
